<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Cake Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>


<router-outlet></router-outlet>
</nav>

<div class="content">
    <div class="container" id="main-container">
        <!-- end row -->
        <div class="row">
            <div *ngFor="let cake of cakes" class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="{{cake?.imageUrl}}" class="img-thumbnail" alt="cake image"></div>
                        <div class="">
                            <h4>{{cake?.title}}</h4>
                            <p class="text-center">{{cake?.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>

<div class="modal fade" id="addCakeModal" tabindex="-1" role="dialog" aria-labelledby="addCakeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title">Add Cake</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddCake(addForm)">
            <div class="form-group required">
              <label class="control-label" for="title">Title</label>
              <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
            </div>
            <div class="form-group required">
              <label class="control-label" for="description">Description</label>
              <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Description" required>
            </div>
            <div class="form-group required">
              <label class="control-label" for="imageUrl">Image URL</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-cake-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
       </div>
    </div>
  </div>
</div>
